.intro .column h3 {font-size: 24px;}

.intro .column p { font-size: 15px; line-height: 33px !important; text-align: center;}

.contentslider li p { font-size: 15px; line-height: 33px !important;}
.bx-wrapper .bx-pager.bx-default-pager a { background: #ddd; border-color: #ddd;}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover { background: #999; border-color: #999;}

.row { padding: 80px 0;}

form { position: relative; text-align: center; width: 100%;}


.mail input {
  padding: 15px 20px;
  margin: 5px 0;
}
.mail input[type="text"] {
  color: #888;
}

input[type="text"] {
  padding: 12px;
  border: 0;
  text-family: "Cutive Mono", sans-serif;
  width: 80%;
  max-width: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.logo {padding-bottom: 40px;}


.about .column h3 { color: #DC8256; }
.about .column p { color: #777; text-align: justify; font-size: 20px; line-height: 30px; margin: 25px 0; }
.about .column .screenshot-container { text-align: center; width: 100%;} 
.about .column .screenshot-container img {height: 650px;}