<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
      
    <staticContent>
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
            <mimeMap fileExtension="otf" mimeType="application/font-otf" />
            <mimeMap fileExtension="ttf" mimeType="application/font-ttf" />
            <mimeMap fileExtension="apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
      
  </system.webServer>
</configuration>